seed/*

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Distribution / packaging
*.egg-info/
dist/
bin/
build/

# dependencies
/node_modules
/.pnp
.pnp.js

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/*


*pycache*
.python-version
*vscode*
venv/
report.xml
sast.json
.vscode
.idea
env.sh
.env*
*.env
scripts