body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Noto Sans', Arial, sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header,
main,
footer {
  padding-left: 300px;
}

main {
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-bold {
  font-weight: 700 !important;
}

@media only screen and (max-width : 992px) {

  header,
  main,
  footer {
    padding-left: 0;
  }
}

@media only screen and (min-width: 601px) {

  nav,
  nav .nav-wrapper i,
  nav a.sidenav-trigger,
  nav a.sidenav-trigger i {
    height: 64px;
    line-height: 64px;
  }
}

nav.top-nav {
  height: 80px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  background-color: transparent;
}

.nav-wrapper .row {
  margin-bottom: 0px !important;
}

a.sidenav-trigger.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  top: 28px;
  float: none;
  margin-left: 1.5rem;
  color: #f3989b;
  font-size: 36px;
  z-index: 2;
}

#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none;
}

#logo-container {
  height: 57px;
  margin-bottom: 32px;
  height: 100%;
}

ul.sidenav.sidenav-fixed li.logo:hover,
ul.sidenav.sidenav-fixed li.logo #logo-container:hover {
  background-color: transparent;
}

ul.sidenav.sidenav-fixed li.logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 36px;
}

.modal.add-log-modal {
  border-radius: 10px;
  width: 70%;
  min-height: 80%;
}


.modal.add-edit-modal {
  border-radius: 10px;
  width: 50%;
  min-height: 70%;
}

.modal.add-edit-modal .modal-content {
  border-radius: 10px;
  overflow-y: auto;
}

/* .modal {
  border-radius: 10px;
  width: 70%;
  min-height: 80%;
} */

.material-tooltip.tooltip-light {
  background-color: rgba(47, 79, 79, 0.8) !important;
  border-radius: 4px !important;
}

.material-tooltip.tooltip-updated-by {
  background-color: rgba(47, 79, 79, 0.8) !important;
  border-radius: 4px !important;
  min-width: 200px;
  max-width: 400px;
}

.react-datepicker__close-icon {
  background-color: transparent !important; /* Change to your desired color */
  color: white; /* Adjust text/icon color as needed */
  /* You might need additional styles here depending on what you're trying to achieve */
}

.react-datepicker__close-icon::after {
  background-color: #ef9a9a !important; /* Change to your desired color */
  color: white; /* Adjust text/icon color as needed */
  /* You might need additional styles here depending on what you're trying to achieve */
}

.react-datepicker__close-icon:active::after {
  transform: scale(1.1); /* Scales the icon up */
  outline: 2px solid #f58080; /* Adds an outline, adjust color as needed */
  outline-offset: 0px; /* Adjust the space between the icon and the outline */
}

.modal.add-log-modal .modal-content {
  border-radius: 10px;
  /* Apply the border-radius here as well */
  overflow-y: auto;
  /* This will make sure the scrollbar appears inside the modal-content */
}

table.accommodation-logs-table {
  width: 100%;
  border-collapse: collapse;
  z-index: 0;
  table-layout: fixed;
}

/* .accommodation-logs-table th, .accommodation-logs-table td {
  width: 120px;
} */


.suggestions-list {
  position: absolute;
  top: 100%; /* Aligns the top of the suggestions list with the bottom of the input field */
  left: 0; /* Aligns the list to the left of the container */
  margin-top: -1px; /* Adjust this value to close the gap */
  padding: 5px 0; /* Adds padding on top and bottom, removes left/right padding */
  z-index: 1000;
  width: 100%; /* Ensure it matches the input field width */
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
  border-top: none;
}

.suggestions-list li {
  padding: 8px 10px; /* Adds padding to the left and right of list items */
  cursor: pointer; /* Changes the mouse cursor to a pointer to indicate clickable items */
}

.suggestions-list li:hover {
  background-color: lightblue; /* Changes the background color on hover */
  font-weight: bold; /* Makes the text bold on hover */
}

.pagination li button {
  color: #444;
  display: inline-block;
  font-size: 1.1rem;
  padding: 0 10px;
  line-height: 30px;
}

table.accommodation-logs-table td p {
  margin-block-start: 0;
  margin-block-end: 0;
}

table.accommodation-logs-table td .chip {
  margin-bottom: 5px;
}

table.accommodation-logs-table td {
  padding: 10px;
}

table.accommodation-logs-table th {
  padding: 10px;
}

.accommodation-logs-table>th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.accommodation-logs-table th {
  background-color: #80cbc4;
}

.accommodation-logs-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.accommodation-logs-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.accommodation-logs-table tr:hover {
  background-color: #ddd;
}

table.accommodation-logs-table td {
  vertical-align: top;
}

table.accommodation-logs-table td div {
  vertical-align: top;
}

table.accommodation-logs-table>thead>tr>th:first-child {
  border-top-left-radius: 10px;
}

table.accommodation-logs-table>thead>tr>th:last-child {
  border-top-right-radius: 10px;
}

table.accommodation-logs-table>tbody>tr:last-child>td:first-child {
  border-bottom-left-radius: 10px;
}

table.accommodation-logs-table>tbody>tr:last-child>td:last-child {
  border-bottom-right-radius: 10px;
}

table.accommodation-logs-table>thead>tr>th {
  border-radius: 0px;
}

table.accommodation-logs-table>tbody>tr>td {
  border-radius: 0px;
}

.date-selectors {
  display: flex;
  gap: 20px;
  /* Adjust or keep the gap as needed */
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  /* Adjusted to take the full width of its container */
  justify-content: space-between;
  /* This will space out the children elements */
}

.vertically-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.chip.large-chip {
  font-size: 1.5rem;
  height: auto;
  padding: 10px 20px;
  border-radius: 30px;
}

th {
  white-space: nowrap;
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.new-existing-prop:hover {
  background-color: rgba(0, 0, 0, 0.05);
  /* Light background on hover */
  cursor: pointer;
  /* Change cursor to indicate clickability */
  /* text-decoration: underline; */
  /* Underline text to indicate it's clickable */
}

.card.new-property-card {
  border-radius: 8px;
  transition: box-shadow 0.25s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.material-symbols-outlined {
  font-size: 18px;
  vertical-align: middle !important;
  margin-bottom: 4px;
  margin-right: 2px;
}

.material-symbols-rounded {
  vertical-align: middle !important;
  margin-bottom: 2px;
}

.right-align {
  text-align: right;
}